.App {
  text-align: center;
  background-color: #f3f3f3;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.Item {
  display: inline-block;
  width: 30%;
  margin-bottom:80px;
  margin-right:20px;
  list-style: none;
  box-sizing: border-box;
  /* border: 1px solid #ddd; */
}

.ImageContainer {
  overflow: hidden;
  object-fit: contain;
  top: -50%;
  left: -50%;
  height: 200px;
  max-width: 200%;
  /* backgroundColor: #ddd */
}

.Image {
  width: 180%;
  /* -moz-transition: -moz-transform 0.2s linear;
  -webkit-transition: -webkit-transform 0.2s linear;
  -o-transition: -o-transform 0.2s linear;
  -ms-transition: -ms-transform 0.2s linear;
  transition: transform 0.2s linear; */
}

/* .Image:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
} */

.DescriptionContainer {
  padding: 10px;
  text-align: left;
  background: white;
}

.Title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Description {
  font-size: 16px;
  margin-bottom: 10px;
}

.Button {
  padding: 8px;
  font-size: 14px;
  background: #b7b7b7;
}
